body {
    position: relative;
    width: 100%;
    background: #F3F5FC;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
header{

}

.logo {
    position: absolute;
    top: 40px;
    left: 40px;
}
.capturaUsuario{
    position: absolute;
    background: #F3F5FC;
    width: 577px;
    height: 240px;
    top: 168px;
    left: 240px;
}

.mensaje::placeholder{
    font-size: 32px;
    line-height: 48px;
    outline: none;
    color: #0A3871;
}

.mensaje{
    width: 100%;
    border: none;
    outline: none;
    background: #F3F5FC;
    padding: 0;
    height: auto;
    font-size: 32px;
    line-height: 34px;
    color: #0A3871;
    resize: none;
}

textarea::-webkit-scrollbar{
    width: 0;
}

.areaDesencriptado{
    position: absolute;
    width: 400px;
    height: 944px;
    top: 40px;
    left: 1000px;
    border-radius: 32px;
    background: #FFFFFF;
}

.muñeco{
    position: absolute;
    width: 336px;
    height: auto;
    top: 283px;
    left: 32px;
}

.advertenciaSugerencia{
    position: absolute;
    width: Fixed (336px);
    height: Hug (122px);
    top: 619px;
    left: 32px;
    gap: 16px;
}

.advertencia{
    width: 336px;
    height: 58px;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    font-weight: bold;
    color: #343A40;
}

.sugerencia{
    width: 336px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #495057;

}

.cajaMensaje{
    position: absolute;
    width: 336px;
    height: 781px;
    top: 32px;
    left: 32px
}

.cajaMensaje p{
font-size: 24px;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
}

