body {
    width: 100vw;
    background: #F3F5FC;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.contenedor{
    background: #F3F5FC;
    width: 90vw;
    height: auto;
    position: relative;
    margin: 0 auto;
}
.contenedorLogo, .contenedorMensajeUsuario, .contenedorInstruccion, .contenedorButton{
    width: 60vw;
    box-sizing: border-box;
}

.contenedorTitulo{
    background: #7d8287 ;
    width: 100vw;
    padding: .5rem;
    margin: 0 auto;
}
header .titulo{
    width: 100%;
    font-size: calc(1.6rem + .5vw);
    font-style: italic;
    color: white;
    text-align: center;
}

.itemLogo{
    /*background-color: aqua;*/
    width: 20vw;
    margin-left: 4.5vw;
    margin-top: 2.5rem;
}

.contenedorMensajeUsuario{
    /*background: violet;*/
    padding: 5% 0 0 12%;
    margin-bottom: 6.5rem;
    box-sizing: border-box;
}
.capturaUsuario{
    width: 80%;
    min-height: 30vh;
}
textarea::-webkit-scrollbar{
    width: 0;
}
.mensaje{
    width: 100%;
    border: none;
    outline: none;
    background: #F3F5FC;
    padding: 1%;
    height: 90%;
    resize: none;
}
.mensaje::placeholder, .mensajeResultado, .mensaje{
    font-size: calc(1.1rem + .5vw);
    line-height: 24px   ;
    color: #0A3871;
}

.instruccion{
    display: inline-block;
    vertical-align: middle;
}
.instruccion img{
    max-height: 2rem;
}
.instruccion p{
    font-size: calc(.8rem + .5vw);
    color: #0A3871;
}

.contenedorButton{
    margin: 1rem 0;
    /*background-color: blue;*/
}
.contenedorButton .button{
    display: inline-block;
    /*background-color: aquamarine;*/
    width: 40%;
    margin: 0 4%;
}
.encriptar, .desencriptar, .copy{
    width: 100%;
    height: 100%;
    padding: .8rem;
    border-radius: 24px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8%;
}
button:hover{
    box-shadow:burlywood;
}

.encriptar{
    background: #0A3871;
    color: #FFFFFF;
}
.desencriptar, .copy i{
    color: #0A3871;
    border: 1px solid #0A3871;
}

.contenedorDesencriptado{
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    left: 65%;
    border-radius: 32px;
    background: #FFFFFF;
}
.contenedorDesencriptado .cajaAntes{
    /*background: burlywood;*/
    width: 80%;
    height: 80%;
    margin: 10% 10%;
    box-sizing: border-box;
}
.cajaAntes .muñeco, .instruccion2{
    /*background-color:chocolate;*/
    width: 80%;
    height: auto;
    margin: 5% 10%;
}
.instruccion2{
    /* background-color: aqua;*/
    width: 80%;
    text-align: center;
}
.imagenMuñeco{
    width: 100%;
}
.advertencia{
    font-size: calc(1rem + .5vw);;
    font-weight: bold;
    color: #343A40;
}
.sugerencia{
    font-size: calc(.8rem + .5vw);
    color: #495057;
}
.contenedorDesencriptado .cajaDespues{
   /*  background-color: burlywood;*/
    width: 90%;
    height: 90%;
    margin: 5% 5%;
}
.cajaResultado{
  /*  background-color: aqua;*/
    width: 90%;
    height: 87%;
    padding: 4%;
    box-sizing: border-box;
}
.mensajeResultado{
    width: 100%;
    border: none;
    outline: none;
    padding: 1%;
    height: 100%;
    resize: none;
}
.buttonCopy i{
    font-size: calc(1rem + .5vw);
    border: none;
}
.rodapie{
    background-color: #495057;
    width: 100vw;
    min-height: 7vh;
    padding-top: .7rem;
    box-sizing: border-box;
}
.rodapie p{
    text-align: center;
    color: white;
    font-style: italic;
    font-size: calc(.8rem + .1vw);
}

@media screen and (max-width:480px) {
    .contenedor{
        position: static;
    }
    .contenedorLogo, .contenedorMensajeUsuario, .contenedorInstruccion, .contenedorButton, .contenedorDesencriptado, .capturaUsuario{
        width: 100%;
    }
    .contenedorLogo{
        margin-top: 2rem;
    }
    .mensaje::placeholder, .mensajeResultado, .mensaje{
        font-size: calc(.8rem + .5vw);
        line-height: .8rem;
    }
    .itemLogo{
        width: 35%;
        margin: 0 auto;
    }
    .contenedorMensajeUsuario{
        padding: 2rem 0 1rem;
    }
    
    .contenedorDesencriptado{
        position: static;
        min-height: 25vh;
        margin-bottom: 2rem;
    }
    .cajaResultado{
        width: 100%;
        min-height: 20vh;
    }
    .encriptar, .desencriptar, .copy{
        padding: .5rem;
        border-radius: 24px;
        font-size: 1em;
        font-weight: bold;
    }
    .buttonCopy{
        margin-left: 25%;
    }
    .copy{
        width: 60%;
    }
}