body {
    /*position: relative;*/
    width: 100vh;
    background: #F3F5FC;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

header, .cajaPrincipal, .areaButton{
    position: relative;
}

.titulo, .logo, .capturaUsuario, .areaDesencriptado, .muñeco, .advertenciaSugerencia, .cajaMensaje, .copy, .mensajeButton, .cajaButton, .mensajeButton p{
    position: absolute;
}

.titulo{
    width: 55%;
    height: auto;
    font-size: 1.9em;
    font-weight: bold;
    color: #0A3871;
    text-align: left;
    top: 35px;
    left: 140px;
}

.logo {
   top: 40px;
    left: 40px;
}
.capturaUsuario{
    background: #F3F5FC;
    width: 500px;
    height: 288px;
    top: 200px;
    left: 220px;
}
.mensaje::placeholder, .mensaje, .cajaMensaje p{
    font-size: 32px;
    line-height: 48px;
    color: #0A3871;
}


.mensaje::placeholder{
    outline: none;
}

.mensaje{
    width: 100%;
    border: none;
    outline: none;
    background: #F3F5FC;
    padding: 0;
    height: auto;
    resize: none;
}

textarea::-webkit-scrollbar{
    width: 0;
}

.areaDesencriptado{
    width: 400px;
    height: 700px;
    top: 30px;
    left: 1000px;
    border-radius: 32px;
    background: #FFFFFF;
}

.muñeco{
    width: 336px;
    height: auto;
    top: 133px;
    left: 32px;
}

.advertenciaSugerencia{
    width: 336px;
    height: 122px;
    top: 469px;
    left: 32px;
    gap: 16px;
}

.advertencia{
    width: 336px;
    height: 58px;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    font-weight: bold;
    color: #343A40;
}

.sugerencia{
    width: 336px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #495057;

}

.cajaMensaje{
    width: 90%;
    height: 70%;
    top: 4%;
    left: 5%;
}

.cajaMensaje p{
letter-spacing: 0em;
text-align: left;
color: #495057;
}

.copy{
    top: 600px;
    left: 32px;
    color: #0A3871;
    background: none;
    border: 1px solid #0A3871;
}

.mensajeButton{
    width: 229px;
    height: 18px;
    top: 590px;
    left: 220px;
}

.mensajeButton img, p{
    display: inline-block;
}

.imagenExclamacion{
    width: 16px;
    height: 16px;
}

.mensajeButton p{
    width: 205px;
    height: 18px;
    opacity: 0.8px;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 0 5px;
}

.cajaButton{
    width: 680px;
    height: 67px;
    top: 628px;
    left: 220px;
}

.encriptar, .desencriptar, .copy{
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: bold;
}

.encriptar{
    background: #0A3871;
    color: #FFFFFF;
}

.desencriptar{
    color: #0A3871;
    border: 1px solid #0A3871;
}

@media screen and (max-width:480px) {
    header, .cajaPrincipal, .areaDesencriptado, .areaButton{
        display: inline;
        width: 100vh;
    }
    .titulo {
        width: 250px;
        font-size: 20px;
        top: 44px;
        left: 90px;
    }
    .logo {
        top: 40px;
        left: 0;
    }
    .capturaUsuario{
        width: 90%;
        left: 20px;
    }
    .mensaje::placeholder{
        font-size: 24px;
        text-align: center;
    }
    .mensaje{
        font-size: 24px;
    }
    .mensajeButton {
        top: 500px;
        left: 20px;
    }
    .cajaButton{
        width: 100%;
        top: 530px;
        left: 4%;
    }
    .encriptar, .desencriptar{
        width: 45%;
    }
    .areaDesencriptado {
        width: 90%;
        left: 5%;
        top: 630px;
    }

}


